body
{

 background-color:#ffffff;
 color:#000000;
 margin:10px auto;
}
td, body
{
 font-family:Verdana;
 font-size:12px;
 font: 8pt Verdana, Arial, Helvetica, sans-serif;
}

a:link          { text-decoration: none; color: black}
a:visited       { text-decoration: none; color: black}
a:hover         { color: white; background-color:black; text-decoration: none}

a#tooCool {position: fixed;right: 0;bottom: 0; display: block;height: 80px;width: 80px;background: url(too_cool.png) bottom right no-repeat;text-indent: -999em;text-decoration: none; }

INPUT.but{
	height:18px;
	width:358px;
	}
